<div class="container">
    <h2>Top Movers</h2>
    <p>Content for the Top Movers page goes here.</p>
</div>



<!-- <div class="card mt-3">
    <div class="card-header bg-info">
        <h4>Card Search</h4>
        <span class="float-right">
            Search: <input type="text" maxlength="15" ng-model="searchValue">
        </span>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Set</th>
                    <th>Rarity</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Price Movement</th>
                </tr>
            </thead>
            <tbody ng-show="!showSpinner">
                <tr ng-repeat="card in cards | filter:searchValue" ng-click="goToSearchView(card.cardId)">
                    <td>{{card.name}}</td>
                    <td>{{card.code}}</td>
                    <td>{{card.rarity}}</td>
                    <td>{{card.type}}</td>
                    <td>{{card.price2}}</td>
                    <td>{{card.priceDiff}}</td>
                </tr>
            </tbody>
            <div ng-show="showSpinner" class="text-center pt-4">
                <div class="spinner-border" style="width: 3rem; height: 3rem;"></div>
                <br>
                <p>Loading search results...</p>
            </div>
        </table>
    </div>
    <div class="card-footer bg-info">
        Please select a movie for update/delete
    </div>
</div> -->